<!-- This page will display all of the requests for content that are received. -->
<!-- Followed existing styling by placing data in card container with Revature logo. -->
<div class="card " style="margin-bottom: 10px">
    <div class="container">
        <div class="col">
            <div id="content">
                <img src="/assets/img/logo.png" alt="revature" class="logo">
            </div>
        </div>

        <!-- Table for displaying the list of open requests for content -->
        <div id="requests">
            <h3>Open Requests</h3>
            <br>
            <form>
                <div class="form-row mb-5">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped text-center" id="displayrequests">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <!--Row for trash can icon-->
                                    <th scope="col">Request Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Content Type</th>
                                    <th scope="col">Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Delete</td>
                                    <td>Java</td>
                                    <td>Java</td>
                                    <td>example.com</td>
                                    <td>Example</td>
                                </tr>
                                <tr>
                                    <td>Icon</td>
                                    <td>Java</td>
                                    <td>Example</td>
                                    <td>Example</td>
                                    <td>Example</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>