mat-card {

   width: 90%;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;
}

button {
    border-style:none;
}

.btn-primary {
  background-color: #00b0ff;
  color: white;
}

.btn-secondary {
  background-color: #78909c;
  color: white;
}

.logo {
    height: auto;
    width: 20%;
}

h3 {
    text-align: center;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.table {
    margin: auto;
    align-content: center!important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    height: 15%;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    margin-top: 70px;
}

.container-fluid {
    text-align: center;
    align-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }