<!-- This page will display all of the requests for content that are received. -->
<!-- Followed existing styling by placing data in card container with Revature logo. -->
<div class="card " style="margin-bottom: 10px">
    <div class="container">
        <div class="col">
            <div id="content">
                <img src="/assets/img/logo.png" alt="revature" class="logo">
            </div>
        </div>

        <!-- Table for displaying the list of requests for content -->
        <div id="requests">
            <h3>Requests</h3>
            <br>
            <form>
                <div class="form-row mb-5">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped text-center" id="displayrequests">
                            <thead>
                                <tr>
                                    <!-- <th scope="col"></th> -->
                                    <!--Row for trash can icon-->
                                    <th scope="col">Request Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Format</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of req">
                                    <td>{{r.id}}</td>
                                    <td>{{r.title}}</td>
                                    <td>{{r.format}}</td>
                                    <td>{{r.description}}</td>
                                    <td>{{r.content}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>