<!-- CARD -->
<div class="card">
   <!-- CONTAINER -->
   <div class="container">

      <div class="col">
         <div id="content">
            <img src="/assets/img/logo.png"
               class="logo">
         </div>

         <!-- TITLE & URL -->
         <form>

            <div class="form-row mb-5">
               <div class="col-1"></div>

               <div class="col">
                  <input [(ngModel)]="id"
                     required
                     name="id"
                     type="number"
                     class="form-control"
                     placeholder="Subject">
               </div>

      
               <div class="col-1"></div>
            </div>

       

         
            <!-- BUTTON ROW -->
            <div class="row btn mb-3">
               <button type="button"
                  class="btn btn-primary"
                  id="submitbutton"
                  (click)="submit()">Submit Module</button>
            </div>

         </form>

      </div>

   </div>

</div>