<!-- 
   This module represents the Content Creation page. The purpose of this page is to provide a form which is used to create content with links
   which is then paired with the subject you want to associate it with. The form is then submitted with the recorded information to the database
   where it can then be accessed in another view.
 -->
<div class="card">
   <div class="container">
      <div class="col">
         <div id="content">
            <img src="/assets/img/logo.png" alt="revature" class="logo" id="logo">
         </div>
         <form>
            <div class="form-row mb-5">
               <div class="col-1"></div>

               <div class="col"> <!-- Input section for the title -->
                  <!-- The input for the title is associated with an ngModel binding that we use to set the title of the content as a string -->
                  <input id="titleTextBox" [(ngModel)]="title" type="text" class="form-control" placeholder="Title" maxlength="254" required>
               </div>
               <div class="col"> <!-- Input section for the URL of useful links to use -->
                  <!-- Similar as above, used to set the url specified to the content we are submitting using ngModel -->
                  <input id="urlTextBox" [(ngModel)]="url" name="url" type="text" class="form-control" placeholder="URL" maxlength="254" required>
               </div>
               <div class="col-1"></div>
            </div>
            <!-- TODO Create new module heirarchy display -->
            <div class="row subject mb-3"> <!-- Dropdown section for the subjects you want to tie the links to -->
               <div class="col-1"></div>
               <div class="col rele">
                  <!-- In this dropdown, the subjects are being accessed through a Module Store ms. 
                       Using ngModel binding, the subjects are displayed.
                  -->
                  <input id="filter" class="form-control" (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="Search for Module" />
                  <tree-root id="tree" [nodes]="nodes" [options]="options" bindLabel="name" spellcheck="false"></tree-root>
               </div>
               <div class="col-1"></div>
            </div>

            <div class="row desc mb-5"> <!-- Text box section for adding a description to the content provided -->
               <div class="col-1"></div>
               <div class="col">
                  <!-- We use ngModel binding to record the description written, where the max character length is 254 -->
                  <textarea id="descriptionTextBox" [(ngModel)]="description" class="form-control"
                     rows="4" placeholder="Description" maxlength="254"></textarea>
               </div>
               <div class="col-1"></div>
            </div>

            <div class="row format mb-3">
               <div class="col">
                  <div class="btn-radio"> <!-- Radio buttons to select what kind of resource you want this content to be sectioned under, that being Code, Document, or PowerPoint -->
                     <div class="form-check form-check-inline" *ngFor="let format of formats">
                        <!-- Here, ngModel is taking the specified radio button for submitting the form -->
                        <input [(ngModel)]="selFormat" class="form-check-input" type="radio" name="formatOptions"
                           id="{{format}}" value="{{format}}">
                        <label class="form-check-label" for="{{format}}" id="{{format}}RadioButton">{{format}}</label>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row btn mb-3"> <!-- Submit button tied to submit() function that sends the form information to the database, adding the specified information for later retrieval -->
               <button type="button" class="btn btn-primary" id="submitButton" (click)="submit()" *ngIf="!this.isSubmitting">Submit Content</button> <!-- When submitting, this.isSubmitting is inverted from false to true in order to submit the form -->
                  <mat-spinner [diameter]="30" *ngIf="this.isSubmitting"></mat-spinner>
            </div>
         </form>
      </div>
   </div>
</div>