mat-card {

   width: 90%;
   margin: 0 auto;
   margin-top: 20px;
}

mat-form-field {
  width: 100%;
}


.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

.info p{
   margin: 1%;
}

.container {
  padding: 2px 16px;
  margin-top: 70px;
}

#content {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.logo {
  height: auto;
  width: 20%;
}

.dropdown {
  margin: 20px;
}

.dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}

.title-url {
  margin-left: auto;
}

.form-control {
  background-color: rgb(245, 245, 245);
}

.btn-radio {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  margin-right: -15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.failed {
  color: red;
}

textarea {
  resize: none;
}
