
<div class = "chart-container">
  <div *ngIf="reportsService.loading">
    <br>
    <br>
      <div id="loadingImage" class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <ngx-charts-line-chart
  id="lineChart"
  *ngIf="!reportsService.loading"
  [view]="view"      
  [animations]="animations"      
  [scheme]="colorScheme"
  [results]="graphResults"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  [timeline]="timeline"
  (window:resize)="onResize($event)"
  >
  </ngx-charts-line-chart>
</div>
