<!--
  This navbar will be present throughout the application for use of navigation across
  the website. It consists of a CMF Force logo button which routes to 'Content Creator'
  , a true 'Content Creator' router, 'Content Finder' router, 'Module Creator' router,
  'Module Index' router, and a 'Reports' router. The routes for all of these are defined
  in the app-routing module and the nav bar is made present everywhere through the
  app.component.html
-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<mat-toolbar color="primary">
    <div>
        <a routerLink="/home">CMS Force</a>
    </div> 
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
         <li>
            <a mat-button id="contentcreator" routerLink="/content-creator" [routerLinkActive]="['is-active']">Content Creator</a>
            </li>
            <li>
                <a mat-button id="contentfinder" routerLink="/finder" [routerLinkActive]="['is-active']">Content Finder</a>
            </li>
            
            <li>
                <a mat-button id='modulecreator' routerLink="/module-creator" [routerLinkActive]="['is-active']">Module Creator</a>
            </li>
            <li>
                <a mat-button id="moduleindex" routerLink="/module-index" [routerLinkActive]="['is-active']">Module Index</a>
            </li>
            <li>
              <a mat-button id="contentfinder" routerLink="/curriculum" [routerLinkActive]="['is-active']">Curricula</a>
            </li>
            <li>
                <a mat-button id='modulecreator' routerLink="/display-request" [routerLinkActive]="['is-active']">Display Requests</a>
            </li>
            <li>
                <a mat-button id="submitrequests" routerLink="/submit-request" [routerLinkActive]="['is-active']">Submit Requests</a>
              </li>
              
            <li>
                <a mat-button id="reportspage" routerLink="/reports" [routerLinkActive]="['is-active']">Reports</a>
            </li>
            <li>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item>Revature</button>
                    <button mat-menu-item>Pink</button>
                  </mat-menu>
                <span class="mat-button-wrapper">
                  <a mat-button>
                  <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true" [matMenuTriggerFor]="appMenu">
                    format_color_fill
                  </mat-icon>
                  </a>
                </span>
            </li>
      </ul>
      </div>
  </mat-toolbar>