.navbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.nav-link.is-active{
    background-color: #666666;
    color: rgba(255, 255, 255, 0.75);
 }
 .shadow {
    -webkit-box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.41);
    box-shadow: 4px 10px 20px 0px rgba(0,0,0,0.41);
 }
 mat-toolbar {
     background-color: #263238; 
     color: white;
     border-radius: 3px;
 }
a {
    text-decoration: none;
    color: white;
}
 
li {
    float: left;
    list-style-type: none;
}
li:last-child { 
    float:right; 
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
