.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  height: auto;
  margin: 0 auto;
  float: none;
  margin-top: 20px;

}

button {
  border-style:none;
}

.btn-primary {
background-color: #00b0ff;
color: white;
}

.btn-secondary {
background-color: #78909c;
color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container { 
  padding: 2px 16px 25px;
  margin-top: 70px;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
}

.logo {
  height: auto;
  width: 20%;
}

.btn-radio {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  margin-right: -15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

td.tag-bubble-cell {
  line-height: 2;
}

.tag-bubble {
  padding: 2px;
  margin: 1px;
  background-color: #d5d5d5;
  border-radius: 3px;
  border: 1px solid black;
}

.left-margin{
  margin-left: 32.781px;
}

.filtering{
  margin-bottom: 20px;
}

.hr-seperator{
  margin-left: 32.781px;
  margin-right: 32.781px;
}