<mat-card>

    <mat-card-content>
        <!-- Per usual, the Revature logo is displayed. -->
        <div id="content">
            <img src="/assets/img/logo.png" alt="revature" class="logo">
        </div>

        <div class="container">
            <form>
                <div class="form-row mb-5">
                    <div class="col-5 offset-1"> <!-- Input the title of a content you want to search for, working with ngModel -->
                        <mat-form-field>
                            <input matInput id="title" [(ngModel)]="title" name="title" type="text"  placeholder="Title" maxlength="254">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <div class="btn-group">
                            <button mat-raised-button class="btn" *ngFor="let format of formats" 
                            [class.btn-primary]="selFormat==format"
                            [class.btn-secondary]="selFormat!=format"
                            (click)="selFormat=format">{{format}}</button>
                        </div>
                    
                    </div>
                </div>

                <div class="row subject mb-3"> <!-- Dropdown section which retrieves subjects using ms to load and ngModel to populate -->
                    <div class="col-10 offset-1">

                        <ng-select id="subjectDropDown" [items]="ms.subjectNames" multiple="true" closeOnSelect="true" hideSelected="true"
                            clearOnBackspace="true" bindLabel="name" spellcheck="false" notFoundText="(no such subject found)"
                            [loading]="ms.isLoading" [placeholder]="ms.loadingText" [(ngModel)]="selectedSubjects" name="selectedSubjects">
                        </ng-select>

                    </div>
                </div>

                <div class="row desc mb-5"> <!-- Text box section for adding a description to the content provided -->
                    <div class="col offset-1">
                                    <!-- We use ngModel binding to record the description written, where the max character length is 254 -->
                        <label for="descriptionTextBox"></label>

                        <mat-form-field>
                            <textarea matInput id="descriptionTextBox" [(ngModel)]="description" name="description"
                             rows="4" placeholder="Description" maxlength="254"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row btn mb-3"> 
                    <button mat-flat-button color="accent"  type="button" class="btn" id="submitButton" (click)="submit()" *ngIf="!this.isSubmitting">Submit Request</button>
                    <mat-spinner [diameter]="30" *ngIf="this.isSubmitting"></mat-spinner>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>
