.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    height: 15%;
    margin: 0 auto; 
    float: none; 
    margin-top: 20px;

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
    margin-top: 70px;
  }

  .grid-description {
    grid-column: 1 / -1;
  }

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  }

  .logo {
    height: auto;
    width: 10%;
  }

  .btn-radio {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="radio"] {
    margin-right: -15px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  td.tag-bubble-cell {
    line-height: 2;
  }

  .tag-bubble {
    padding: 2px;
    margin: 1px;
    background-color: #d5d5d5;
    border-radius: 3px;
    /* border: 1px solid black; */
  }

  .fa-trash:hover{
    cursor: pointer;
    color: gray !important;
  }

  .fa-flag {
    color: rgb(190,0,0);
  }

  .fa-flag:hover {
    color: orange;
  }

  a {
    color: rgb(3, 0, 192);
  }

  a:hover{
    color: white;
  }

  .vl {
    border-left: 2px solid black;
    height: 100%;
    
  }

  .module-title{
    padding-bottom: 6px;
  }