.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    height: 15%;
    margin: 0 auto; 
    float: none; 
    margin-top: 20px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    margin-top: 70px;
}

.grid-description {
    grid-column: 1 / -1;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50px;
}

.logo {
    height: auto;
    width: 10%;
}

.btn-radio {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    margin-right: -15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

td.tag-bubble-cell {
    line-height: 2;
}

.tag-bubble {
    padding: 2px;
    margin: 1px;
    background-color: #F6F8FA;
}

.parent {

    border: 1px solid #DEE2E6;
}

.fa-trash:hover{
    cursor: pointer;
    color: gray !important;
}

.fa-flag {
    color: rgb(190,0,0);
}

.fa-flag:hover {
    color: orange;
}

a {
    color: rgb(3, 0, 192);
    cursor: pointer;
}

.vl {
    border-left: 2px solid black;
    height: 100%;
    
}

.module-title{
    padding-bottom: 6px;
}

.content-container {

    border: 1px solid #DEE2E6;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.list-footer {

    margin-top: auto;
}

.list-group-item.active {

    background-color: #F1F1F1;
    border-color: #DFDFDF;
}

textarea.disabled {

    resize: none;
    background-color: #F6F8Fa!important;
}

.icon {

    padding-left: 10px;
    padding-right: 10px;
}

.first-gen-filter {

    margin: 20px;
    margin-bottom: 0px;
    padding-right: 40px;
}

span.input-group-text.active {

    background: #343A40;
}

span.input-group-text.active > a > em {

    color: white;
}

span.input-group-text.disabled > a > em {

    color: black;
}

span.input-group-text.disabled {

    background: white;
}

.order-btn {
    background: #F1F1F1;
}

.order-btn:focus {
  box-shadow: none;
}

.child-header {

    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}