<!-- 
  This document represents the Module Index Page. Simply put, this page lists all 
  the existing modules and arranges them in order based on name, if the name begins
  with a number, the page displays it first from least to most, then alphabetically.
-->

<!-- 
  For representation, the data is disaplyed in a card container, where the Revature
  logo is displayed at the top by default, even in the case of no modules.  
-->
<div class="card " style="margin-bottom: 10px">
    <div class="container">
        <div class="col">
            <div id="content">
                <!-- The source file for the Revature logo -->
                <img src="/assets/img/logo.png" alt="revature" class="logo">
            </div>
        </div>
        <!-- As modules load, a spinner of diamter 30 is displayed -->
        <div *ngIf="ms.isLoading" class="btn spinner">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>

        <!-- 
                Here lies the directives for dispaying existing modules. For starters, an *ngIf 
                is used with the intent that when the modules is finished loading, it will 
                display a bubble representing a module. 
            -->
        <form *ngIf="!ms.isLoading" style="margin-bottom: 20px">

            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: ms.nodes }">
            </ng-container>

            <ng-template #recursiveList let-list>
                <div *ngFor="let module of list; let moduleIdx = index" name="modules" id="{{module.id}}" class="tag-bubble"
                    style="margin-bottom: 5px">

                    <!-- 
                        With the creation of bubbles, these are clickable, so simply assigning an 
                        event binding using click will help in revealing content using the listContent()
                        function on the .ts end. In this div, a flag is included to indicate that the 
                        module is empty and has a title of No Content. Also included is the module's name
                        as well as a delete button. 
                    -->

                    <div (click)="listContent(module)" name="module">
                        <!-- Flag behaves purely as an indicator, which if module.links is empty = flag -->
                        <span class="fas fa-flag" *ngIf="module.links.length === 0" title="No Content"></span>
                        <a class="lead"><font size="+2">&nbsp;{{module.subject}}</font></a>

                        <!-- 
                                This trash icon indicates a remove module button. This works off of logic 
                                defined in both the .ts file and java using the selectedLinkForRemoval() 
                                function.
                            -->
                        <a data-toggle="modal" data-target="#deleteModule" title="Delete Module"
                            style="float: right; padding:6px;" (click)="selectedModuleForRemoval(module)"
                            class="fas fa-trash"></a>
                    </div>

                    <!-- 
                            Here is the presentation of the content inside every given module upon request
                            (a click). In the listContent(module) function, a boolean is triggered to turn
                            contentVisible.get(module) from False to True. Doing so triggers the creation 
                            of a form which lists the available fields:
                            - Content ID
                            - Title
                            - Format
                            - Description
                            - URL
                            These are all represented through a table, similar to what is found on the Content
                            Finder page. 
                        -->
                    <div *ngIf="contentVisible.get(module)">
                        <!-- Start of form to show dynamic table. -->

                        <div class="row">
                            <div class="col-3">
                                <div class="content-container">
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item lead text-dark" *ngFor="let link of module.links | contentOrder: module : 1; let i = index"
                                            [attr.id]="'row' + link.content.id" (click)="setActiveContent(module, i)" [ngClass]="{'active': contentActive.get(module) === i}"
                                            draggable="true" (dragstart)="onDragStart($event, i)" (dragover)="onDragOver($event)"
                                            (drop)="onDrop($event, i, module)">

                                            <div>
                                                {{link.content.title}}
                                                <a class="float-right">
                                                    <em title="Remove from module "
                                                        (click)="selectedLinkForRemoval(link, module)"
                                                        class="fas fa-trash" data-toggle="modal"
                                                        data-target="#deleteContent"
                                                        title="Remove Content from Module">
                                                    </em>
                                                </a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-8 content-container">

                                <div class="info-header">

                                    <p class="p-0 m-0">ID: {{module.links[contentActive.get(module)].content.id}}</p>
                                    <p class="p-0 m-0">Format: {{module.links[contentActive.get(module)].content.format}}</p>
                                    <p>URL: <a style="margin-top: 10px" target="_blank" href="{{module.links[contentActive.get(module)].content.url}}">{{module.links[contentActive.get(module)].content.url}}</a></p>

                                    <hr />

                                </div>

                                <div class="info-description">
                                    <form>
                                        <div class="form-group">
                                            <label for="info-description-body">Description</label>
                                            <textarea class="form-control disabled" id="info-description-body" rows="7" disabled>{{module.links[contentActive.get(module)].content.description}}</textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul *ngIf="module.children.length > 0">

                        <ng-container
                            *ngTemplateOutlet="recursiveList; context:{ $implicit: getModules(module.children) }">
                        </ng-container>

                    </ul>
                </div>
            </ng-template>
        </form>

    </div>

    <!-- 
      Here is a pop up the occurs when deleting content. Simply put, this creates a pop
      up box, titled "Removing Content", and asks for confirmation of removal. To do this, 
      String Interpolation is used to say what subject is being deleted from what title, 
      and a button is used to confirm. 
     -->
    <div id="deleteContent" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Removing Content</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngIf="selLink && selModule" class="modal-body">
                    <h6>Are you sure you want to remove {{selLink.content.title}} from {{selModule.subject}}?</h6>
                    <h6><small>This content will not be deleted, only removed for {{selModule.subject}}.</small></h6>
                    <div class="row btn mb-3">

                        <!-- 
                Here is the confirm button which utilizes the removeContentFromModuleIndex() 
                function.
               -->
                        <button type="button" class="btn btn-primary" id="deleteContentButton"
                            (click)="removeContentFromModuleIndex()" data-dismiss="modal">Confirm Removal</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- 
      Here is a pop up the occurs when deleting a module. Simply put, this creates a pop
      up box, titled "Removing Module", and asks for confirmation of removal. To do this, 
      String Interpolation is used to say what module is being deleted, 
      and a button is used to confirm.
     -->
    <div id="deleteModule" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deleting Module</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngIf="selModule" class="modal-body">
                    <h6>Are you sure you want to delete the {{selModule.subject}} module?</h6>
                    <div class="row btn mb-3">
                        <form>
                            <h5><small>Delete module and
                                    <select id="Seldelmethod">
                                        <option value="1">Keep all content</option>
                                        <option value="2">Associated content to this module</option>
                                        <option value="3">All content related to this module</option>
                                    </select>
                                </small></h5>
                            <button type="button" class="btn btn-primary" id="deleteModuleButton"
                                (click)="removeModule()" data-dismiss="modal">Confirm Removal</button>
                        </form>
                        <!-- 
                Here is the confirm button which utilizes the removeContentFromModuleIndex() 
                function.
               -->
                    </div>
                </div>
            </div>

        </div>
    </div>