mat-card {

   width: 90%;
   margin: 0 auto;
   margin-top: 20px;
}

.container {
    padding: 2px 16px;
    margin-top: 70px;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    height: auto;
    width: 10%;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    cursor: pointer;
}