.logo {
    height: auto;
    width: 20%;
}

.container {
    padding: 2px 16px;
    margin-top: 70px;
    text-align: center;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h3,
h2 {
    text-align: center;
}

#toggle {
    font-size: large;
}

mat-card {

   width: 90%;
   margin: 0 auto;
   margin-top: 20px;
}

mat-form-field {
    width: 100%;
  }