

    <!-- CARD -->
    <div class="card">
      <!-- CONTAINER -->
      <div class="container">

            <div class="col">
          <div id="content">
              <img src="/assets/img/logo.png" class="logo">
          </div>

          <!-- TITLE & URL -->
          <form>
        
                <div class="form-row mb-3">
                        <div class="col-1"></div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="URL">
                    </div>
                    <div class="col-1"></div>
                </div>
    
                <!-- SUBJECT ROW -->
                <div class="row subject mb-3">
                        <div class="col-1"></div>
                    <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option selected value=0>Choose Subject</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                                  
                    </div>
                    <div class="col-1"></div>
                </div>
    
                <!-- AFFILIATION ROW -->
                <div class="row affiliation">
                        <div class="col-1"></div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Tags">
                    </div>
                    <div class="col-1"></div>
                </div>
    
                <!-- DESCRIPTION ROW -->
                <div class="row desc mb-4">
                        <div class="col-1"></div>
                    <div class="col">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
                    </div>
                    <div class="col-1"></div>
                </div>
    
                <!-- FORMAT ROW -->
                <div class="row format mb-3">
                    <!-- RADIO BUTTONS -->
                        <div class="col btn-radio">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Code</label>
                              </div>
                             
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Document</label>
                              </div>
                        </div>
    
                </div>
                <!-- BUTTON ROW -->
                <div class="row btn mb-3">
                        <button type="button" class="btn btn-primary">Submit Content</button>
                </div>
    
                
            </form>

        </div>

      </div>    





