

    <!-- CARD -->
    <div class="card">
      <!-- CONTAINER -->
      <div class="container">

          <div id="content">
              <img src="/assets/img/logo.png" class="logo">
          </div>

          <!-- TITLE & URL -->
          <form>
        
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="URL">
                </div>
            </div>

            <!-- SUBJECT ROW -->
            <div class="row subject mb-3">
                <div class="col">
                    <select class="custom-select" id="inputGroupSelect01" #location_type style="margin-right:10px"><br>
                        <option selected value="none">Subject....</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Java">Java</option>
                        <option value="Angular">Angular</option>
                        <option value="SQL">SQL</option>
                        <option value="OOP">OOP</option>
                    </select>
                </div>
            </div>

            <!-- AFFILIATION ROW -->
            <div class="row affiliation">
                <div class="col">
                    <input class="form-control" type="text" placeholder="Affiliation">
                </div>
            </div>

            <!-- DESCRIPTION ROW -->
            <div class="row desc mb-4">
                <div class="col">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
                </div>
            </div>

            <!-- FORMAT ROW -->
            <div class="row format mb-3">
                    <div class="col">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Content Format
                            </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">Code</button>
                                <button class="dropdown-item" type="button">Document</button>
                            </div>
                        </div>
                   
                    </div>

            </div>
            <!-- BUTTON ROW -->
            <div class="row btn mb-3">
                    <button type="button" class="btn btn-primary">Submit Content</button>
            </div>

            
        </form>


      </div>    





