mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
<<<<<<< HEAD
    background-color: #eeeeee;
=======
>>>>>>> f87edb0c8948b1652b2e7ec276edd113c9cd8f20
}

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
<<<<<<< HEAD
    background-color: #eeeeee;
=======
>>>>>>> f87edb0c8948b1652b2e7ec276edd113c9cd8f20
}