mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
    background-color: #eeeeee;
}

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
    background-color: #eeeeee;
}