<div class="card " style="margin-bottom: 10px">
  <div class="container">
    <div class="col">
      <div id="content">
        <img src="/assets/img/logo.png" alt="revature" class="logo">
      </div>
    </div>


    <div class="container">
      <div class="row">

        <div class="col-4">

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Code Examples: {{codeExamples}}</li>
            </ul>
          </div>

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lecture Notes: {{lectureNotes}}</li>
            </ul>
          </div>

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Different Modules: {{difModules}}</li>
            </ul>
          </div>

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Avg. Resources: {{avgResources}}</li>
            </ul>
          </div>
        </div>

        <div class="col-8">
          <div class="text-center">
            This is where the Time Graph stuff will be
            <br>
            <button class = "button" (click) = "getTimesForRange(yearInMillis)">Times for year</button>
            <button class = "button" (click) = "getTimesForRange(6 * monthInMillis)">Times for 6 months</button>
            <button class = "button" (click) = "getTimesForRange(monthInMillis)">Times for month</button>
            <ul>
              <li *ngFor = "let time of timeGraphData">{{time | date:'long'}}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
