<div class="card " style="margin-bottom: 10px">
  <div class="container">
    <div class="col">
      <div id="content">
        <img src="/assets/img/logo.png" alt="revature" class="logo">
      </div>
    </div>


    <div class="container">
      <div class="row">

        <div class="col-4">

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Code Examples: {{codeExamples}}</li>
            </ul>
          </div>

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lecture Notes: {{lectureNotes}}</li>
            </ul>
          </div>

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Different Modules: {{difModules}}</li>
            </ul>
          </div>

          <div class="card" style="width: 18rem;" style="margin-bottom: 15px">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Avg. Resources: {{avgResources}}</li>
            </ul>
          </div>
        </div>

        <div class="col-8">
          <app-reports-time-graph></app-reports-time-graph>
        </div>
      </div>

    </div>
  </div>
</div>
