<!-- 
    This view represents the Content Finder page. This page displays a 
    form to input and select criteria to search for specific content and 
    links within modules.
 -->
<mat-card>
    <mat-card-content>
        <div id="content">
            <img src="/assets/img/logo.png" alt="revature" class="logo" id='logo'>
        </div>
        <div class="container">
            <form>
                <div class="row format mb-3">
                    <div class="col-1"></div>

                    <div class="col"> <!-- Input the title of a content you want to search for, working with ngModel -->
                        <mat-form-field>
                            <input matInput id="title" [(ngModel)]="title" required name="title" type="text" placeholder="Title" maxlength="254">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <div class="btn-group">
                            <button mat-flat-button class="btn" *ngFor="let format of formats" 
                            [class.btn-primary]="selFormat.includes(format)"
                            [class.btn-secondary]="!(selFormat.includes(format))"
                            (click)="toggleFormat(format)" id="{{format}}">{{format}}</button>
                        </div>
                    </div>

                    <div class="col-1">
                    </div>

                </div>

                <div class="row filtering"> <!-- Dropdown section which retrieves subjects using ms to load and ngModel to populate -->
                    <div class="col-1"></div>
                    <div class="col-10">
                         <ng-select matNativeControl id="subjectDropDown" [items]="ms.subjectNames"
                                multiple="true" closeOnSelect="true" hideSelected="true"
                                clearOnBackspace="true" bindLabel="name" spellcheck="false"
                                notFoundText="(no such subject found)"
                                [loading]="ms.isLoading" [placeholder]="ms.loadingText"
                                [(ngModel)]="selectedSubjects"
                                name="selectedSubjects"> <!-- ngSelect to manage selecting subjects and operating dropdown functionality -->
                         </ng-select>
                    </div>
                    <div class="col-1"></div>
             </div>
                 <div class="row btn mb-3"> <!-- Find Content button to submit criteria using submit() function -->
                    <button mat-flat-button id="submitButton" type="button" color="primary"
                         (click)="submit()" *ngIf="!this.isSearching">Find Content</button><!-- While not searching, we can click the button -->
                         <mat-spinner [diameter]="30" *ngIf="this.isSearching"></mat-spinner>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="this.tablebool"> <!-- Card that is revealed upon successful criteria search -->
    <mat-card-content>
        <div class="container">
            <form>
                <div class="form-row mb-5">
                    <div class="table-responsive">
                        <table mat-table id="ResultsTable" class="table table-striped">
                            <thead> <!-- The column names for the table that displays the related information -->
                                <tr>
                                    <th scope="col"></th><!--Row for trash can icon-->
                                    <th scope="col">Content ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Format</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Modules</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let content of contents"> <!-- Section that removes content and links from modules -->
                                    <td name="trash">
                                            <em title="Remove from module " (click)="selectedContentForRemoval(content)"
                                            class="fas fa-trash" data-toggle="modal" data-target="#deleteContent"
                                            title="Remove Content"></em>
                                    </td>
                                    <td name="flag">
                                        {{content.id}}
                                        <!-- Flags the modules that do not have content -->
                                        <span *ngIf="content.links.length === 0" class="fas fa-flag" title="No Module"></span>
                                    </td> 
                                    <td name="title">{{content.title}}</td>
                                    <td name="format">{{content.format}}</td>
                                    <td name="description">{{content.description}}</td>
                                    <td name="url"><a href="{{content.url}}">{{content.url}}</a></td>
                                    <td name="modules" class="tag-bubble-cell">
                                        <div class="addTag">
                                            <span data-toggle="modal" name="plus" data-target="#addTag" (click)=selectedContent(content)
                                                class="fas fa-plus-square svg-inline--fa fa-w-14 fa-2x" title="Add module"></span>
                                        </div>
                                        
                                        <!-- Maps the subject name to the proper module via the id -->
                                        <span *ngFor="let link of content.links" [attr.name]="ms.subjectIdToName.get(link.module.id)"
                                            [style.font-weight]="(searchedSubjects.includes(ms.subjectIdToName.get(link.module.id))) ? 'bold' : 'normal'"
                                            class="badge badge-primary" style="color:black; font-size: 16px" id="{{DoThis(content.id,link.id)}}-{{ms.subjectIdToName.get(link.module.id)}}">
                                            {{ms.subjectIdToName.get(link.module.id)}}

                                            <span data-toggle="modal" data-target="#deleteTag" title="Remove Module"
                                                (click)="selectedLinkForRemoval(content, link)" class="fas fa-trash"
                                                id="{{DoThis(content.id,link.module.id)}}{{'-trash'}}"></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="noResultSearch"><!--Appears upon unsuccessful search-->
    <mat-card-content>
        <div class="container" style="text-align: center">
            <form>
                    <div>Search found no results</div>
                    <div class="row btn mb-3">
                        
                        <button mat-flat-button type="button" color="primary" id="requestButton"
                        routerLink="/submit-request">Request Content</button>
                    </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<!-- 
    Here is a pop up the occurs when adding modules to content
 -->
<div id="addTag" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content" id="addTagPopup">
            <div class="modal-header">
                <h4 class="modal-title">Add Modules</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ng-select id="tagsDropDown" [items]="ms.subjectNames" multiple="true" closeOnSelect="true" hideSelected="true"
                    clearOnBackspace="true" bindLabel="name" spellcheck="false" notFoundText="(no such subject found)"
                    [loading]="ms.isLoading" [placeholder]="ms.loadingText" [(ngModel)]="selectedTags" name="addTags">
                </ng-select>
                <div class="row btn mb-3">
                    <button type="button" class="btn btn-primary addATag" id="submitTagButton" (click)="updateTags()"
                        data-dismiss="modal">Add Modules</button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- 
    Here is a pop up the occurs when removing a module from a content
 -->
<div id="deleteTag" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remove Module</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h6>Are you sure you want to remove this module from {{selCon.title}}?</h6>
                <div class="row btn mb-3">
                    <button  mat-flat-button type="button" class="btn btn-primary addATag" id="deleteTagButton" (click)="removeTag()"
                        data-dismiss="modal" name="confirmDeleteTag">Confirm Delete</button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- 
    Here is a pop up the occurs when deleting content.
    To be finalized once back-end functionality is present
 -->
 <div id="deleteContent" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deleting Content</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Are you sure you want to delete {{selCon.title}}?</h6>
                    <div class="row btn mb-3">
    
                        <button mat-flat-button type="button" color="primary" id="deleteContentButton" 
                        (click)="removeContent()"  data-dismiss="modal">Confirm Delete</button>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
