mat-card {

    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
 }
 
.container {
    padding: 2px 16px;
    margin-top: 70px;
}
  
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.logo {
    height: auto;
    width: 20%;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-expansion-panel {

   background-color: #F6F8FA;
}

mat-toolbar {

    background-color: #F6F8FA;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

mat-toolbar.modal-toolbar {

    background-color: white;
    border: none;
    box-shadow: none;
}

.link-box {
  padding: 20px 12px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.list-wrapper {

    overflow-y: auto;
}

.content-container {

    border: 1px solid #DEE2E6;
    min-height: 480px;
    max-height: 480px;
    overflow-y: disabled;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.list-footer {

    margin-top: auto;
}

.order-btn {
    background: #F1F1F1;
}

.list-toolbar {

    overflow-y: disabled;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
}

a {

    cursor: pointer;
}

.pointer {

    cursor: pointer;
}

.form-control-plaintext {

    outline: none;
}

mat-form-field {

    width: 100%;
}

.module-container {

    min-height: 300px;
    max-height: 300px;
    padding-bottom: 10px;
    overflow: auto;
}

mat-grid-tile {

    border: 1px solid #DEE2E6;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

.link-box.active {

    background-color: #F1F1F1;
}

