/* You can add global styles to this file, and also import other style files */


/* This imports the css for the search and multiselect tags input field */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/ngx-toastr/toastr.css";

/* import styles for spinner module from @angular/module*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-tree-component/dist/angular-tree-component.css";

body {
    height:100%;
    background: #eeeeee;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 8%; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.card {
    width: 95%!important;
    background-color: #f2f3f4;
}

html {
     height: 100%; 
}

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    padding: 12px 10px!important;
}

.mat-checkbox-layout {
    margin: 0px!important;
}